/* Global Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 40px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Home Page */

.hero {
  background-image: linear-gradient(to bottom right, #ff4d4d, #007bff);
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.full-screen {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* To prevent horizontal scrolling if content overflows */
}

.hero-content {
  max-width: 600px;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero a {
  display: inline-block;
  background-color: #fff;
  color: #007bff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.hero a:hover {
  background-color: #007bff;
  color: #fff;
}

.features {
  display: flex;
  justify-content: space-around;
}

.feature-box {
  max-width: 300px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.feature-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Signup and Login Pages */

.signup,
.login {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup h2,
.login h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #007bff;
}

form input,
form select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

.uploadBox
{
  height: fit-content;
  /* width: 100%; */
  /* background-color: white; */
  background: #fff;
  
  width:fit-content;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* position: fixed; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}